#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  width: 200px;
  align-items: center;
}

.nav-links-container {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: center;
  margin-bottom: 4rem;
}

.nav-links-container a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-primary);
}

.nav-links-container a:hover {
  color: var(--color-primary-dark);
}
