#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th,
td {
  font-family: var(--mono);
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-icons {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  h1 {
    line-height: 1;
  }
}
