.bookings {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.add-booking-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.addInput {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.fieldInput {
  height: 1.2rem;
  padding: 5px 5px 5px 15.5px;
}

.bookings-container h2 {
  font-size: 2rem;
}

.bookingList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

.bookingList li {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
}
