.customers {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.addInput {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.fieldInput {
  height: 1rem;
  padding: 5px 5px 5px 15.5px;
}

.customers-container h2 {
  font-size: 2rem;
}

.customerList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

.customerList li {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
}
