.customers {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.add-customer-container h2 {
  font-family: var(--sans);
  font-size: 2rem;
  margin-bottom: 20px;
}

.addInput {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.fieldInput {
  font-family: var(--mono);
  height: 1rem;
  padding: 5px 5px 5px 15.5px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  color: var(--color-text-light);
}

.customers-container h2 {
  font-size: 2rem;
}

.customerList {
  display: grid;
  grid-template-columns: repeat(2, 405px);
  gap: 1rem;
  margin: 2rem auto;
  justify-content: center;
}

.customerCard {
  font-family: var(--mono);
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  gap: 40px; */
  background-color: #ffffff7e;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.customerName {
  font-weight: 700;
  text-align: left;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.customerRow {
  display: flex;
  align-items: center;
  gap: 5px;
}
