.services {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.add-service-container h2 {
  font-family: var(--sans);
  font-size: 2rem;
  margin-bottom: 20px;
}

.addInput {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.fieldInput {
  font-family: var(--mono);
  height: 1rem;
  padding: 5px 5px 5px 15.5px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  color: var(--color-text-light);
}

.services-container h2 {
  font-size: 2rem;
}

.serviceList {
  display: grid;
  grid-template-columns: repeat(2, 355px);
  gap: 1rem;
  margin: 2rem auto;
  justify-content: center;
}

/* .serviceList li {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
} */

.serviceCard {
  font-family: var(--mono);
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  gap: 40px; */
  background-color: #ffffff7e;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.serviceName {
  font-weight: 700;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.serviceRow {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .addInput {
    flex-direction: column;
    margin-top: 2rem;
  }

  .fieldInput,
  button {
    height: 2rem;
  }

  .serviceList {
    display: flex;
    flex-direction: column;
  }

  .serviceCard {
    width: 70vw;
    align-self: center;
  }
}
